<div class="panel">
  <div class="panel-heading">
    <div class="col-sm-6">容器配置</div>
    <div class="col-sm-6 text-right"><a href="#">容器</a></div>
  </div>
  <div class="panel-body">
    <div class="row" style="border-bottom: 1px solid rgba(0, 0, 0, 0.12);padding:0;">

      <div class="col-sm-6"><h3>Container Properties</h3><p ng-bind="list.ID"></p></div>
      <ul class="list-inline clearfix text-right col-sm-6">
        <li><a href="#" class="btn btn-primary">保存</a></li>
        <li><a href="#" class="btn btn-primary">刷新</a></li>
        <li><a href="#" class="btn btn-primary">关闭</a></li>
      </ul>
    </div>
    <form action="#" class="form-horizontal" id="myForm">
      <div class="menu_list">
        <h4 style="padding-top: 10px" class="menu_head">
          <span class="glyphicon glyphicon-triangle-bottom icon" style="padding-right:10px;"></span>
          <span>常规</span>
        </h4>
        <div class="menu_body">
          <div class="form-group">
            <label class="col-sm-1 control-label">容器</label>
            <div class="col-sm-3">
              <input type="text" placeholder="2006" class="form-control disabled">
            </div>
            <div class="col-sm-1 text-right">
              <p>容器分类</p>
              <p>OC-外向</p>
            </div>
            <div class="col-sm-2 text-right">
              <!-- data-target="#myModal" -->
              <button type="button" data-toggle="modal"  class="glyphicon glyphicon-floppy-saved btn btn-default preview" ng-click="show()"></button>
              <button class="glyphicon glyphicon-floppy-remove btn btn-default"></button>
            </div>
            <div class="col-sm-1">
              <p style="margin-top:10px;">在容器中</p>
            </div>
            <div class="col-sm-2 text-right">
              <button class="glyphicon glyphicon-floppy-saved btn btn-default disabled"></button>
              <button class="glyphicon glyphicon-floppy-remove btn btn-default disabled"></button>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1 control-label">短描述</label>
            <div class="col-sm-2">
              <input type="text" class="form-control ">
            </div>
            <label class="col-sm-1 control-label">中长描述</label>
            <div class="col-sm-3">
              <input type="text" class="form-control ">
            </div>
            <label class="col-sm-1 control-label">扩展描述</label>
            <div class="col-sm-4">
              <input type="text" class="form-control ">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1 control-label">容器状态</label>
            <div class="col-sm-2">
              <select class="form-control">
                <option>加载</option>
                <option>发货</option>
                <option>已准备</option>
                <option>已分拣</option>
                <option>已盘点</option>
                <option>新的</option>
                <option>盒装</option>
                <option>部署</option>
              </select>
            </div>
            <label class="col-sm-1 control-label">定义类型</label>
            <div class="col-sm-3">
              <input type="text" class="form-control ">
            </div>
            <label class="checkbox-inline">
              <input type="checkbox"  value="option1" style="top: 5px"> <span>移动标记</span>
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="option2" style="top: 5px"> <span>永久标记</span>
            </label>
          </div>
          <div class="form-group">
            <label class="col-sm-1 control-label">计算重量</label>
            <div class="col-sm-3">
              <input type="number" class="form-control "  step="0.000001">
            </div>
            <label class="col-sm-1 control-label">实际类型</label>
            <div class="col-sm-3">
              <input type="number" class="form-control " step="0.000001">
            </div>
          </div>

        </div>
      </div>
      <div class="menu_list">
        <h4 style="padding-top: 10px" class="menu_head">
          <span class="glyphicon glyphicon-triangle-bottom icon" style="padding-right:10px;"></span>
          <span>分配</span></h4>
        <div class="menu_body">
          <div class="form-group">
            <div class="col-sm-1 text-right">
              <p>工厂</p>
              <p>C1P1</p>
            </div>
            <div class="col-sm-2 text-right">
              <button class="glyphicon glyphicon-floppy-saved btn btn-default"></button>
              <button class="glyphicon glyphicon-floppy-remove btn btn-default"></button>
            </div>
            <div class="col-sm-1">
              <p>仓库</p>
              <p>MAIN</p>
            </div>
            <div class="col-sm-2 text-right">
              <button class="glyphicon glyphicon-floppy-saved btn btn-default"></button>
              <button class="glyphicon glyphicon-floppy-remove btn btn-default"></button>
            </div>
            <div class="col-sm-1">
              <p>仓库地点</p>
              <p>地址 14</p>
            </div>
            <div class="col-sm-2 text-right">
              <button class="glyphicon glyphicon-floppy-saved btn btn-default disabled"></button>
              <button class="glyphicon glyphicon-floppy-remove btn btn-default disabled"></button>
            </div>
            <div class=" col-sm-1">
              <p style="margin-top:10px;">设备</p>
            </div>
            <div class="col-sm-2 text-right">
              <button class="glyphicon glyphicon-floppy-saved btn btn-default"></button>
              <button class="glyphicon glyphicon-floppy-remove btn btn-default"></button>
            </div>

          </div>
        </div>

      </div>
      <div class="menu_list">
        <h4 style="padding-top: 10px" class="menu_head ">
          <span class="glyphicon glyphicon-triangle-bottom icon" style="padding-right:10px;"></span>
          <span>维护</span></h4>
        <div class="menu_body">
          <div class="form-group">
            <label class="col-sm-2 control-label">最终维护日期</label>
            <div class="col-sm-3">
              <input type="date" class="form-control"aria-describedby="inputSuccess5Status" value="0000-00-00">
            </div>
            <label class="col-sm-2 control-label">下一个维护日期</label>
            <div class="col-sm-3">
              <input type="date" class="form-control"aria-describedby="inputSuccess5Status"  value="0000-00-00">
            </div>
          </div>
        </div>
      </div>
      <div class="menu_list">
        <h4 style="padding-top: 10px" class="menu_head ">
          <span class="glyphicon glyphicon-triangle-bottom icon" style="padding-right:10px;"></span>
          <span>链接</span></h4>
        <div class="menu_body">
          <div class="form-group" style="position:relative;">
            <label class="col-sm-1 glyphicon glyphicon-hand-right text-right"></label>
            <div class="col-sm-1" style=" position:absolute; height:20px;left:100px; top:9px;">
              <a href="#" style="display:block;">单位描述</a>
            </div>
          </div>
          <div class="form-group" style="position:relative;">
            <label class="col-sm-1 glyphicon glyphicon-hand-right text-right"></label>
            <div class="col-sm-1" style=" position:absolute; height:20px;left:100px; top:9px;">
              <a href="#">容器尺寸</a>
            </div>
          </div>
        </div>
      </div>
      <div class="menu_list">
        <h4 style="padding-top: 10px" class="menu_head">
          <span class="glyphicon glyphicon-triangle-bottom icon" style="padding-right:10px;"></span>
          <span>详细资料</span></h4>
        <div class="menu_body"></div>
      </div>
    </form>
  </div>
  <!-- Modal -->
  <modal></modal>


